body {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: 1;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
}



.card{
    display: flex;
    flex-direction: row;
   
}
.form {
    display: flex;
}

.card div{
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-color: aquamarine;
    border: 5px;
    border-color: black;
    border-style:solid;
}

.read div {
    background-color: aqua;
}